<head>
  <link rel="stylesheet" type="text/css" href="./../css/cv.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>

  <div class="header__wrapper">
    <div class="header__left even_width">
    <pre><span class="green header">/* Bart Biernat */</span>



  <span class="orange">#Job_title</span> { <span class="red">Current:</span> <span class="blu">Junior Developer</span>; }
    </pre>
  </div>
    <div class="header__right even_width"><pre>
          <span class="orange">#Contact_info</span> { <span class="red"><i class="fas fa-phone"></i></span>: <span class="blu">+44 7891636321</span>,
            
                          <span class="red"><i class="fas fa-at"></i></span>: <span class="blu">biernat.bart@gmail.com</span>,

                          <span class="red"><i class="fab fa-linkedin"></i></span>: <span class="blu">https://www.linkedin.com/in/bart-biernat-807a9783/</span>,

                          <span class="red"><i class="fab fa-codepen"></i></i></span>: <span class="blu">https://codepen.io/fo0s/</span>,

                          <span class="red"><i class="fab fa-github"></i>: </span><span class="blu">https://github.com/fo0s</span>; }
    </div>
    </pre>
  </div>

  <div class="wrap">
    <div class="wrap__left even_width"><pre>

      <span class="orange title_header">#Summary</span>

            <span class="orange">.Qualities </span>{ <span class="blue">A junior software developer with 15 years 
                          catering expeience. I have a natural curiosity 
                          for how things work; from taking apart mobile 
                          handsets to penetration testing and bug bounties.
                          I thrive under pressure and love supporting a team.</span> }

      <span class="orange">#Skills</span> { <span class="red">Quality:</span> <span class="bl">Normal</span>, <span class="blue">Good</span>, <span class="red">Expert</span>; }

      <span class="orange">#Objective</span> {
              <span class="red">Employment:</span> <span class="blu">Full-time</span>, <span class="blu">Part-time</span>, <span class="orange">Freelance</span>; }

      <span class="orange">#Education</span> {
              <span class="red">Major:</span> <span class="bl">Multimedia-Arts</span>, <span class="orange">WebDesign</span>;
              <span class="red">Class-Standing:</span> <span class="blu">Senior</span>; }

      <span class="orange">#Skills .WebDesign</span> {
              <span class="red">Language:</span> <span class="blu">HTML</span>, <span class="blu">CSS</span>, <span class="blu">JavaScript</span>, <span class="blu">MySQL</span>;
              <span class="red">Software:</span> <span class="bl">Illustrator</span>, <span class="blu">Photoshop</span>, <span class="blu">InDesign</span>; }

      <span class="orange">#Skills .Other-Media</span> {
              <span class="red">Software:</span> <span class="bl">3Ds-Max</span>, <span class="blu">After-Effects</span>, <span class="blu">Premiere-Pro</span>,
              <span class="blu">Sound-Forge</span>, <span class="blu">Sketch-3</span>; }

      <span class="green">/* 06.2015 - 12.2015 */</span>
      <span class="orange">#Work-Experience</span> {
              <span class="red">Employee:</span> <span class="blu">Company name</span></span>;
              <span class="red">Position:</span> <span class="blu">Web Developer</span> (<span class="blu">PHP</span>, <span class="blu">MySQL</span>, <span class="blu">HTML</span>, <span class="blu">CSS</span>, <span class="blu">JavaScript</span>);
              <span class="red">Responsibility:</span> <span class="blu">Customization-Wordpress</span>,
                              <span class="blu">Managing-SocialMedia</span>; }       

      <span class="green">/* 04.2012 - 05.2014 */</span>
      <span class="orange">#Work-Experience</span> {
              <span class="red">Employee:</span> <span class="blu">Company name</span></span>;
              <span class="red">Position:</span> <span class="blu">Web Developer</span> (<span class="blu">PHP</span>, <span class="blu">MySQL</span>, <span class="blu">HTML</span>, <span class="blu">CSS</span>, <span class="blu">JavaScript</span>);
              <span class="red">Responsibility:</span> <span class="blu">Customization-Wordpress</span>,
                              <span class="blu">Managing-SocialMedia</span>; }    

      <span class="orange">#ContactInfo</span> {
              <span class="red">Name:</span> <span class="blu">John Doe</span>;
              <span class="red">Phone-No:</span> <span class="blu">+48 501 234 567</span>;
              <span class="red">Twitter:</span> <span class="blu">@JohnDoe</span>;
              <span class="red">E-mail:</span> <span class="blu">john@doe.com</span>; }

    </pre></div>

    <div class="wrap__right even_width"><pre>
        <span class="orange title_header">#Skills</span> { <span class="red">Quality:</span> <span class="bl">Weak</span>, <span class="blue">Good</span>, <span class="red">Strong</span>; }
    <pre></div>


</div>


  </body>